<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/all.min.css">
    <link rel="stylesheet" href="../../assets/css/animate.css">
    <link rel="stylesheet" href="../../assets/css/flaticon.css">
    <link rel="stylesheet" href="../../assets/css/magnific-popup.css">
    <link rel="stylesheet" href="../../assets/css/odometer.css">
    <link rel="stylesheet" href="../../assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../../assets/css/nice-select.css">
    <link rel="stylesheet" href="../../assets/css/main.css">

    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">

    <title>Boleto  - Online Ticket Booking Website HTML Template</title>


</head>

<body>
    <!-- ==========Preloader========== -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ==========Preloader========== -->
    
    <!-- ==========Sign-In-Section========== -->
    <section class="account-section bg_img" data-background="./assets/images/account/account-bg.jpg">
        <div class="container">
            <div class="padding-top padding-bottom">
                <div class="account-area">
                    <div class="section-header-3">
                        <span class="cate">Thay đổi mật khẩu</span>
                    </div>
                    <% if(typeof errors != 'undefined') { %>
                      <% errors.forEach( (error) => { %>
                        <div class="alert alert-danger" role="alert">
                          <%= error %>
                        </div>
                      <% }); %>
                    <% } %>
                  
                    <% if(success_msg != '') {%>
                      <div class="alert alert-success" role="alert">
                        <%= success_msg %>
                      </div>
                    <% } %>
                    <form action="/auth/change-password" method="POST">
                        <div class="form-group">
                            <label for="Password">Mật Khẩu Cũ<span>*</span></label>
                            <input type="password" id="password" name="old_password" placeholder="Nhập mật khẩu cũ">
                        </div>
                        <div class="form-group">
                          <label for="Password">Mật Khẩu Mới<span>*</span></label>
                          <input type="password" id="password" name="new_password" placeholder="Nhập mật khẩu mới">
                        </div>
                        <div class="form-group">
                          <label for="Password">Nhập Lại Mật Khẩu<span>*</span></label>
                          <input type="password" id="password" name="confirm_password" placeholder="Nhập lại mật khẩu">
                        </div>
                        <button type="submit" class="btn btn-primary" > Xác Nhận</button>
                        <div class="form-group text-center">
                          <a href="/auth/updateProfile">Trở lại trang cá nhân</a>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Sign-In-Section========== -->


    <script src="../../assets/js/jquery-3.3.1.min.js"></script>
    <script src="../../assets/js/modernizr-3.6.0.min.js"></script>
    <script src="../../assets/js/plugins.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>
    <script src="../../assets/js/isotope.pkgd.min.js"></script>
    <script src="../../assets/js/magnific-popup.min.js"></script>
    <script src="../../assets/js/owl.carousel.min.js"></script>
    <script src="../../assets/js/wow.min.js"></script>
    <script src="../../assets/js/countdown.min.js"></script>
    <script src="../../assets/js/odometer.min.js"></script>
    <script src="../../assets/js/viewport.jquery.js"></script>
    <script src="../../assets/js/nice-select.js"></script>
    <script src="../../assets/js/main.js"></script>
</body>

</html>  
<!-- <form action="/auth/change-password" method="post">
  <% if(typeof errors != 'undefined') { %>
    <% errors.forEach( (error) => { %>
      <div class="alert alert-danger" role="alert">
        <%= error %>
      </div>
    <% }); %>
  <% } %>

  <% if(success_msg != '') {%>
    <div class="alert alert-success" role="alert">
      <%= success_msg %>
    </div>
  <% } %>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Mật Khẩu Cũ</label>
        <input type="password" class="form-control"  name="old_password">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Nhập mật khẩu mới</label>
        <input type="password" class="form-control" name="new_password" >
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Xác Nhận Mật Khẩu</label>
        <input type="password" class="form-control" name="confirm_password">
      </div>
     <button type="submit" class="btn btn-primary"> Xác Nhận</button>
</form> -->