<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/all.min.css">
    <link rel="stylesheet" href="../../assets/css/animate.css">
    <link rel="stylesheet" href="../../assets/css/flaticon.css">
    <link rel="stylesheet" href="../../assets/css/magnific-popup.css">
    <link rel="stylesheet" href="../../assets/css/odometer.css">
    <link rel="stylesheet" href="../../assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../../assets/css/nice-select.css">
    <link rel="stylesheet" href="../../assets/css/main.css">

    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">

    <title>Boleto  - Online Ticket Booking Website HTML Template</title>


</head>

<body>
    <!-- ==========Preloader========== -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ==========Preloader========== -->
    
    <!-- ==========Sign-In-Section========== -->
    <% if(typeof status == 'undefined') { %>
    <section class="account-section bg_img" data-background="./assets/images/account/account-bg.jpg">
        <div class="container">
            <div class="padding-top padding-bottom">
                <div class="account-area">
                    <div class="section-header-3">
                        <span class="cate">Quên mật khẩu</span>
                    </div>    
                    <% if(typeof message != 'undefined') {%>
                      <div class="alert alert-success" role="alert">
                        <%= message %>
                      </div>
                    <% } %>
                    <form action="/auth/forgot-password" method="POST">
                        <div class="form-group">
                            <label for="Password">Nhập email<span>*</span></label>
                            <input type="email" id="email" name="email" placeholder="Nhập email">
                        </div>
                        <button type="submit" class="btn btn-primary" > Xác Nhận</button>
                        <div class="form-group text-center">
                          <a href="/auth/login">Trở lại trang cá nhân</a>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <% } else { %>
      <% if(status == 'confirm') {%>
        <section class="account-section bg_img" data-background="./assets/images/account/account-bg.jpg">
          <div class="container">
              <div class="padding-top padding-bottom">
                  <div class="account-area">
                      <div class="section-header-3">
                          <span class="cate">Quên mật khẩu</span>
                      </div>
                      <h5>Vui lòng kiểm tra email</h5>
                      <span><%= email %></span>    
                      <button type="submit" class="btn btn-primary" >Xác Nhận</button>
                      <!-- <form action="/auth/forgot-password" method="POST">
                          <div class="form-group">
                              <label for="Password">Nhập con cc<span>*</span></label>
                              <input type="email" id="email" name="email" placeholder="Nhập email">
                          </div>
                          <button type="submit" class="btn btn-primary" > Xác Nhận</button>
                          <div class="form-group text-center">
                            <a href="/auth/login">Trở lại trang cá nhân</a>
                        </div>
                      </form> -->
                  </div>
              </div>
          </div>
      </section>
      <% } else if(status == 'reset') { %> 
        <section class="account-section bg_img" data-background="./assets/images/account/account-bg.jpg">
          <div class="container">
              <div class="padding-top padding-bottom">
                  <div class="account-area">
                      <div class="section-header-3">
                          <span class="cate">Cài lại mật khẩu</span>
                      </div>
                      <% if(typeof message != 'undefined') {%>
                        <div class="alert alert-success" role="alert">
                          <%= message %>
                        </div>
                      <% } %>
                      <form action="/auth/reset-password" method="POST">
                        <div class="form-group">
                            <label for="password">Nhập mật khẩu<span>*</span></label>
                            <input type="password" id="password" name="password" placeholder="Nhập password">
                        </div>
                        <div class="form-group">
                          <label for="confirm_password">Nhập lại mật khẩu<span>*</span></label>
                          <input type="password" id="confirm_password" name="confirm_password" placeholder="Nhập lại mật khẩu">
                        </div>
                        <input type="hidden" name="access_token" id="access_token" value="<%= access_token %>">
                        <button type="submit" class="btn btn-primary" >Xác Nhận</button>
                      </form>
                  </div>
              </div>
          </div>
      </section>
      <% } else if(status == 'success') { %>
        <section class="account-section bg_img" data-background="./assets/images/account/account-bg.jpg">
          <div class="container">
              <div class="padding-top padding-bottom">
                  <div class="account-area">
                      <div class="section-header-3">
                          <span class="cate">Cài lại mật khẩu</span>
                      </div>
                      <h5>Cài lại mật khẩu thành công</h5>
                      <a href="/auth/login"class="btn btn-primary" >Tiến về đăng nhập</a>
                  </div>
              </div>
          </div>
      </section>
      <% } %>
    <% } %>
    <!-- ==========Sign-In-Section========== -->


    <script src="../../assets/js/jquery-3.3.1.min.js"></script>
    <script src="../../assets/js/modernizr-3.6.0.min.js"></script>
    <script src="../../assets/js/plugins.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>
    <script src="../../assets/js/isotope.pkgd.min.js"></script>
    <script src="../../assets/js/magnific-popup.min.js"></script>
    <script src="../../assets/js/owl.carousel.min.js"></script>
    <script src="../../assets/js/wow.min.js"></script>
    <script src="../../assets/js/countdown.min.js"></script>
    <script src="../../assets/js/odometer.min.js"></script>
    <script src="../../assets/js/viewport.jquery.js"></script>
    <script src="../../assets/js/nice-select.js"></script>
    <script src="../../assets/js/main.js"></script>
</body>

</html> 