<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    
  </head>
    <body>
        <div class="container">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin/index">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-video"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Admin Dashboard</div>
            </a> 
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Thống kê</h1>
            
                <!-- DataTales Example -->
                <div class="row">
            
                    <div class="col-xl-12 col-lg-10">
            
                        <!-- Area Chart -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Thống Kê</h6>
                            </div>
                            <div class="card-body">
                                <div class="result">
                                    <div class="rap">Cụm rạp CGV Hùng Vương Plaza bán được 2400 vé với doanh thu 500.000.000 VND từ
                                        ngày 01/03/2021 đến 30/04/2021
                                    </div>
                                    <div class="rap">Cụm rạp CGV Hùng Vương Plaza bán được 2400 vé với doanh thu 500.000.000 VND từ
                                        ngày 01/03/2021 đến 30/04/2021
                                    </div>
                                    <div class="rap">Cụm rạp CGV Vincom Center Đồng Khởi 2400 vé với doanh thu 500.000.000 VND từ
                                        ngày 01/03/2021 đến 30/04/2021
                                    </div>
                                    <div class="rap">Cụm rạp CGV Sư Vạn Hạnh 2400 vé với doanh thu 500.000.000 VND từ
                                        ngày 01/03/2021 đến 30/04/2021
                                    </div>
                                </div>
                                <div class="chart-area">
                                    <canvas id="myAreaChart"></canvas>
                                </div>
                            </div>
                        </div>
            
                    </div>
                    <!-- /.container-fluid -->
            
                </div>
                <!-- End of Main Content -->
            </div>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Tables -->
            <li class="nav-item active">
                <a class="nav-link" href="phim">
                    <i class="fas fa-film"></i>
                    <span>Phim</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="cumrap">
                    <i class="fas fa-warehouse"></i>
                    <span>Cụm Rạp</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="rap">
                    <i class="fas fa-map-marked-alt"></i>
                    <span>Rạp</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="suatchieu">
                    <i class="fas fa-ticket-alt"></i>
                    <span>Suất Chiếu</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        </div>
    </body>
</html>