<section class="best-of-the-week">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="block">
                                                        
                    <div class="page-title theater-title">
                        <h3><%= cumraps.Ten%></h3>
                    </div>
                    <div class="page-title theater-title">
                        <h3>Địa chỉ: <%= cumraps.DiaChi %></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>